@use "@/styles/colors" as c;
@use "sass:color";

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  .leftSide {
    display: flex;
    flex-direction: column;
    gap: var(--size-6);
    padding-right: var(--size-8);

    .bio {
      line-height: var(--scale-3);
      color: color.adjust(c.$title, $alpha: -0.25);
    }
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    gap: var(--size-12);
    padding-left: var(--size-8);
    border-left: 1px solid c.$layer1;

    > div {
      display: grid;
      gap: var(--size-6);
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .stat {
      display: flex;
      flex-direction: column;
      gap: var(--size-2);

      .title {
        color: c.$title;
        font-weight: 500;

        &.big {
          font-size: var(--scale-4);
        }
      }
    }
  }
}

.socialLink {
  display: flex;
  gap: var(--size-2);
  align-items: center;

  span {
    text-transform: capitalize;
  }

  &:hover {
    color: c.$title;
    text-decoration: underline;
  }
}
