@use "@/styles/colors" as c;

.tabView {
  display: flex;
  flex-direction: column;
  gap: var(--size-10);

  .relatedArtists {
    display: flex;
    gap: var(--size-1);
    flex-direction: column;

    .card {
      background-color: c.$layer1;
      padding: var(--size-2);
      display: flex;
      gap: var(--size-4);
      align-items: center;

      &:hover {
        background-color: c.$layer2;
      }

      .artistPhoto {
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: var(--radius-full);
      }

      .name {
        color: c.$title;
      }
    }
  }
}
