@use "@/styles/colors" as c;
@use "sass:color";

.button {
  cursor: pointer;
  display: flex;
  gap: var(--size-2);
  align-items: center;
  color: c.$title;
  font-size: var(--scale-00);
  font-weight: 500;
  padding: var(--size-2) var(--size-6);
  border-radius: var(--radius-full);
  letter-spacing: 1px;

  &.small {
    font-size: var(--scale-00);
  }

  &.solid {
    &.brand {
      background-color: c.$brand;
      &:hover {
        background-color: c.$brand2;
      }
    }
    &.surface {
      background-color: c.$layer2;
      &:hover {
        background-color: c.$layer3;
      }
    }
  }

  &.outline {
    border: 1px solid transparent;
    &.brand {
      border-color: c.$brand;
    }
    &.surface {
      border-color: c.$layer3;
    }
  }
}
