@use "@/styles/colors" as c;
@use "@/styles/util";

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: c.$layer1;

  &:hover {
    background-color: c.$layer2;
  }

  .cover {
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .cardBody {
    padding: var(--size-4);

    .title {
      color: c.$title;
      font-weight: 500;
      @include util.truncate;
    }

    .description {
      font-size: var(--scale-00);
      margin-top: var(--size-2);
      @include util.line-clamp(2);
    }
  }
}
