@use "@/styles/colors" as c;
@use "sass:color";

.collectionHeader {
  padding: var(--size-8);
  display: flex;
  gap: var(--size-6);

  .collectionCover {
    width: 256px;
    height: 256px;
    object-fit: cover;
    box-shadow: var(--shadow-xl);
  }

  .collectionDetails {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);

    .type {
      font-size: var(--scale-00);
    }

    .title {
      color: c.$title;
      font-size: var(--scale-6);
      font-weight: 500;
    }

    .description {
      font-size: var(--scale-00);
      color: color.adjust(c.$title, $alpha: -0.25);
    }

    .lower {
      display: flex;
      gap: 6px;
      align-items: center;
      color: color.adjust(c.$title, $alpha: -0.25);

      span {
        font-size: var(--scale-00);
      }
    }

    .actions {
      margin-top: auto;
      display: flex;
      gap: var(--size-4);
    }
  }
}
