@use "default";
@use "util";
@use "media";
@use "nprogress";
@use "colors" as c;
@use "sass:color";

.contentSpacing {
  padding: 0 var(--content-spacing);
}

.truncate {
  @include util.truncate;
}

.whiteText {
  color: c.$title;
}

.hoverLine:hover {
  text-decoration: underline;
}

.toggle {
  cursor: pointer;

  &:hover {
    color: c.$title;
  }

  &[data-state="active"] {
    color: c.$brand;

    &:hover {
      color: color.adjust(c.$brand, $lightness: 10);
    }
  }
}

.genericGrid {
  --cols: 5;
  display: grid;
  gap: var(--size-6);
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));

  @media (--xl-n-below) {
    --cols: 4;
    :nth-child(5) {
      display: none;
    }
  }
  @media (--xl-n-above) {
    --cols: 5;
    :nth-child(5) {
      display: unset;
    }
  }
}

.genericContainer {
  display: flex;
  flex-direction: column;
  gap: var(--size-10);
}
